@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SpenbebGame"; /*Can be any text*/
  src: local("SpenbebGame"), url("./assets/fonts/SpenbebGame-R9q46.otf") format("opentype");
}
.font-spenbeb-game {
  font-family: "SpenbebGame";
}

body {
  margin: 0;
  max-width: 100svw;
  background-color: #1c1c1c;
  /* background: (to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.84) 100%); */
  background: linear-gradient(to bottom, #272729 25%, #121316 75%);
  color: white;
  padding: 0px 8px;
  overflow: hidden;
}
